### 1.  What was the hottest day in our data set? Where was that?
~~~~
-- selecting just date and maxtemp columns for more readable output.
SELECT
    date,
	maxtemperaturef
FROM
    weather
ORDER BY 
    maxtemperaturef desc
LIMIT 5;
~~~~
Output:
~~~~
"2015-11-17"	"134"
"2015-09-11"	"127"
"2015-09-09"	"98"
"2015-09-08"	"97"
"2015-09-21"	"97"
~~~~

### 2.  How many trips started at each station?
~~~~
SELECT
	start_station,
    -- naming this output column as "number_of_trips"
	COUNT(*) as number_of_trips
FROM
	trips
GROUP BY 1
LIMIT 5;
~~~~
Output:
~~~~
"2nd at Folsom"	"7464"
"2nd at South Park"	"7722"
"2nd at Townsend"	"14099"
"5th at Howard"	"5436"
"5th S at E. San Salvador St"	"19"
~~~~

### 3.  What's the shortest trip that happened?
~~~~
SELECT
    -- just select these two column for more readable output.
    trip_id,
	duration
FROM
    trips
ORDER BY 
    duration asc
LIMIT 5;
~~~~
Output:
~~~~
"1116337"	"60"
"1118729"	"60"
"1011650"	"60"
"1019313"	"60"
"1120267"	"60"
~~~~

### 4.  What is the average trip duration, by end station?
~~~~
SELECT
	end_station,
	AVG(duration)
FROM
	trips
GROUP BY 1;
~~~~
Output:
~~~~
"2nd at Folsom"	"557.0507602339181287"
"2nd at South Park"	"531.5899035734543392"
"2nd at Townsend"	"633.2570440573770492"
"5th at Howard"	"583.5723111040709647"
"5th S at E. San Salvador St"	"1767.0000000000000000"
~~~~