In [102]:
# import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [103]:
# Import data
df_usd = pd.read_csv('btc_usd_sep2_nov30.csv')
df_cme = pd.read_csv('btc_cme_sep2_nov30.txt', sep=",")

In [104]:
# print 1st 5 rows of df_usd
df_usd.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-02,7301.250000,7350.580078,7204.890137,7270.049805,7270.049805,309327793
1,2018-09-03,7270.049805,7417.649902,7246.759766,7369.859863,7369.859863,343762001
2,2018-09-04,7369.890137,7401.430176,6694.060059,6705.029785,6705.029785,797851163
3,2018-09-05,6705.060059,6727.189941,6295.109863,6515.419922,6515.419922,823309044
4,2018-09-06,6515.419922,6549.390137,6345.479980,6411.779785,6411.779785,344487244

In [105]:
# print last 5 rows of df_usd
df_usd.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
84,2018-11-26,4004.459961,4124.700195,3598.810059,3784.590088,3784.590088,715341714
85,2018-11-27,3784.770020,3878.899902,3613.110107,3822.989990,3822.989990,555212127
86,2018-11-28,3822.989990,4398.569824,3822.939941,4263.549805,4263.549805,726808596
87,2018-11-29,4263.520020,4444.390137,4130.680176,4286.689941,4286.689941,479575430
88,2018-11-30,4286.850098,4331.069824,3916.300049,4009.669922,4009.669922,497762735

In [106]:
# print 1st 5 rows of df_cme
df_cme.head()

           Date    Price     Open     High      Low Vol. Change %
0  Nov 30, 2018  3,895.0  4,225.0  4,265.0  3,835.0    -   -7.59%
1  Nov 29, 2018  4,215.0  4,205.0  4,350.0  4,060.0    -    0.24%
2  Nov 28, 2018  4,205.0  3,775.0  4,345.0  3,770.0    -   11.39%
3  Nov 27, 2018  3,775.0  3,650.0  3,775.0  3,550.0    -    4.28%
4  Nov 26, 2018  3,620.0  3,930.0  4,025.0  3,510.0    -   -7.89%

In [107]:
# print last 5 rows of df_cme
df_cme.tail()

            Date    Price     Open     High      Low Vol. Change %
71  Sep 06, 2018  6,460.0  6,670.0  6,700.0  6,215.0    -   -3.15%
72  Sep 05, 2018  6,670.0  7,355.0  7,395.0  6,590.0    -   -9.25%
73  Sep 04, 2018  7,350.0  7,265.0  7,410.0  7,220.0    -    1.24%
74  Sep 03, 2018  7,260.0  7,290.0  7,325.0  7,190.0    -   -0.41%
75  Sep 02, 2018  7,290.0  7,275.0  7,295.0  7,240.0    -    3.70%

In [108]:
# Convert the 'Low' and 'High' column from text to float
df_cme["Low"] = [np.float(x.replace(",", "")) for x in df_cme["Low"]]
df_cme["High"] = [np.float(x.replace(",", "")) for x in df_cme["High"]]

In [109]:
# print the new 'Low' and 'High' column - 1st 5 lines
print(df_cme['Low'].head())
print(df_cme['High'].head())

0    3835.0
1    4060.0
2    3770.0
3    3550.0
4    3510.0
Name: Low, dtype: float64
0    4265.0
1    4350.0
2    4345.0
3    3775.0
4    4025.0
Name: High, dtype: float64

In [110]:
# get mean value of the 'Low' and 'High' columns
print(df_cme['Low'].mean())
print(df_cme['High'].mean())

5977.76315789
6200.72368421

In [111]:
# Calculate the mean values for all of the columns in df_usd
df_usd.mean()

Open         6.176153e+03
High         6.264355e+03
Low          6.041043e+03
Close        6.139058e+03
Adj Close    6.139058e+03
Volume       3.641961e+08
dtype: float64