In [1]:
# import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import data
df_usd = pd.read_csv('btc_usd_sep2_nov30.csv')
df_cme = pd.read_csv('btc_cme_sep2_nov30.txt')

In [8]:
# print 1st 5 rows of df_usd
df_usd.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-02,7301.250000,7350.580078,7204.890137,7270.049805,7270.049805,309327793
1,2018-09-03,7270.049805,7417.649902,7246.759766,7369.859863,7369.859863,343762001
2,2018-09-04,7369.890137,7401.430176,6694.060059,6705.029785,6705.029785,797851163
3,2018-09-05,6705.060059,6727.189941,6295.109863,6515.419922,6515.419922,823309044
4,2018-09-06,6515.419922,6549.390137,6345.479980,6411.779785,6411.779785,344487244

In [13]:
df_usd.mean()

Open         6.176153e+03
High         6.264355e+03
Low          6.041043e+03
Close        6.139058e+03
Adj Close    6.139058e+03
Volume       3.641961e+08
dtype: float64

In [37]:
df_usd['High'].head()

0    7350.580078
1    7417.649902
2    7401.430176
3    6727.189941
4    6549.390137
Name: High, dtype: float64

In [9]:
# print 1st 5 rows of df_cme
df_cme.head()

           Date    Price     Open     High      Low Vol. Change %
0  Nov 30, 2018  3,895.0  4,225.0  4,265.0  3,835.0    -   -7.59%
1  Nov 29, 2018  4,215.0  4,205.0  4,350.0  4,060.0    -    0.24%
2  Nov 28, 2018  4,205.0  3,775.0  4,345.0  3,770.0    -   11.39%
3  Nov 27, 2018  3,775.0  3,650.0  3,775.0  3,550.0    -    4.28%
4  Nov 26, 2018  3,620.0  3,930.0  4,025.0  3,510.0    -   -7.89%

In [14]:
df_cme.mean()

Series([], dtype: float64)

In [20]:

df_cme['High'].head()

0    4,265.0
1    4,350.0
2    4,345.0
3    3,775.0
4    4,025.0
Name: High, dtype: object

In [22]:
a = df_cme['High']

In [27]:
a.head()

0    4,265.0
1    4,350.0
2    4,345.0
3    3,775.0
4    4,025.0
Name: High, dtype: object

In [28]:
b = str(a)

In [29]:
b

'0     4,265.0\n1     4,350.0\n2     4,345.0\n3     3,775.0\n4     4,025.0\n5     3,975.0\n6     4,345.0\n7     4,565.0\n8     4,620.0\n9     4,870.0\n10    5,510.0\n11    5,515.0\n12    5,545.0\n13    5,590.0\n14    6,290.0\n15    6,320.0\n16    6,390.0\n17    6,365.0\n18    6,415.0\n19    6,525.0\n20    6,545.0\n21    6,465.0\n22    6,440.0\n23    6,450.0\n24    6,375.0\n25    6,355.0\n26    6,340.0\n27    6,290.0\n28    6,435.0\n29    6,420.0\n       ...   \n46    6,580.0\n47    6,595.0\n48    6,495.0\n49    6,585.0\n50    6,625.0\n51    6,605.0\n52    6,795.0\n53    6,735.0\n54    6,525.0\n55    6,560.0\n56    6,710.0\n57    6,710.0\n58    6,775.0\n59    6,530.0\n60    6,530.0\n61    6,370.0\n62    6,525.0\n63    6,495.0\n64    6,570.0\n65    6,520.0\n66    6,330.0\n67    6,375.0\n68    6,330.0\n69    6,350.0\n70    6,505.0\n71    6,700.0\n72    7,395.0\n73    7,410.0\n74    7,325.0\n75    7,295.0\nName: High, Length: 76, dtype: object'

In [33]:
c = b.replace(',', '')

In [34]:
c

'0     4265.0\n1     4350.0\n2     4345.0\n3     3775.0\n4     4025.0\n5     3975.0\n6     4345.0\n7     4565.0\n8     4620.0\n9     4870.0\n10    5510.0\n11    5515.0\n12    5545.0\n13    5590.0\n14    6290.0\n15    6320.0\n16    6390.0\n17    6365.0\n18    6415.0\n19    6525.0\n20    6545.0\n21    6465.0\n22    6440.0\n23    6450.0\n24    6375.0\n25    6355.0\n26    6340.0\n27    6290.0\n28    6435.0\n29    6420.0\n       ...   \n46    6580.0\n47    6595.0\n48    6495.0\n49    6585.0\n50    6625.0\n51    6605.0\n52    6795.0\n53    6735.0\n54    6525.0\n55    6560.0\n56    6710.0\n57    6710.0\n58    6775.0\n59    6530.0\n60    6530.0\n61    6370.0\n62    6525.0\n63    6495.0\n64    6570.0\n65    6520.0\n66    6330.0\n67    6375.0\n68    6330.0\n69    6350.0\n70    6505.0\n71    6700.0\n72    7395.0\n73    7410.0\n74    7325.0\n75    7295.0\nName: High Length: 76 dtype: object'